<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail book</title>
    <script>
        const backList = (id) => {
            window.open('http://localhost:3000');
        };
    </script>
</head>
<body>
<p>Name: <%= item.name %>
</p>
<p>Price: <%= item.price %>
</p>
<p>Author: <%= item.author %>
</p>
<button onclick="backList()">Back list page</button>
</body>
</html>