<div class="page-heading">

    <h1>Post a new </h1>

</div>

<form action="/blog" method="POST">

    <div class=”control-group”>

        <div class="form-group floating-label-form-group controls">

            <label>Title</label>

            <input type="text" class="form-control" id="title" name="title">

        </div>

    </div>

    <div class=”control-group”>

        <div class="form-group floating-label-form-group controls">

            <label>Content</label>

            <input type="text" class="form-control" id="content" name="content">

        </div>

    </div>

    <div class="form-group">

        <button type="submit"  class="btn btn-primary" >Post</button></div>

</form>


