<!DOCTYPE html>

<html lang="en">

<head>

    <title>Home</title>

</head>

<body>

<h2 style="margin-bottom:20px; text-align: center;">List image</h2>

<ul class="mdc-image-list my-image-list" style="display:table-cell; vertical-align:middle; text-align:center">

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="anh1.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh chó</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="anh2.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh mèo</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="anh3.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh gà</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="anh4.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh trâu</span>

        </div>

    </li>

</ul>

</body>

</html>