<!--<form action="" method="post">-->
<!--    <button type="submit">Yes</button>-->
<!--</form>-->
<!--<button type="submit" onclick="location.href='/products'">No</button>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <%- include('../partial/style') %>
</head>

<body>
<%- include('../partial/navBar') %>

<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-form">
                    <form method="post" enctype="multipart/form-data">
                        <button type="submit">Yes</button>

                    </form>
                    <button type="submit" onclick="location.href='/products'">No
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->

<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<%- include('../partial/javascript') %>
</body>
</html>



